<section class="bg-dark pt-4 text-center" style="height: 100%;">
    <!--fluid-->
    <img src="../../assets/Storelogo.png" class="img-thumbnail rounded-circle" style="width: 7vmax; height: 7vmax;" alt="">
    <div>
    </div>  
    <nav class="nav flex-column mt-3">
        <li class="nav-item">
            <button class="nav-link" style="width: 100%;" routerLink="/Products" routerLinkActive="active">All Product</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" style="width: 100%;" routerLink="/Products" routerLinkActive="active">All Admins</button>
        </li>
      </nav>
</section>
